<!-- <div class="w3-threequarter">
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding w3-light-grey">
          <h4>WishList</h4>
          
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li>
                <div class="w3-panel w3-display-container">
                    <img src="assets/gallery/pexels-photo-672358.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:130px">                     
                    <p>Name of Event</p>
                    <span onclick="this.parentElement.style.display='none'"
                    class="w3-button  w3-large w3-display-topright">x</span>
                    
                    
                  </div>
            </li>
            <li>
                <div class="w3-panel w3-display-container">
                    <img src="assets/gallery/pexels-photo-672358.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:130px">                     
                    <p>Name of Event</p>
                    <span onclick="this.parentElement.style.display='none'"
                    class="w3-button  w3-large w3-display-topright">x</span>
                    
                    
                  </div>
            </li>

         
            
        </ul>
      </div>
   
</div> -->



<div class="w3-container">
        <h2>Wish List</h2>
        
        <ul class="w3-ul w3-card-4">
          <li class="w3-bar">
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
            <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Mike</span><br>
              <span>Web Designer</span>
            </div>
          </li>
      
          <li class="w3-bar">
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
            <img src="img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Jill</span><br>
              <span>Support</span>
            </div>
          </li>
      
          <li class="w3-bar">
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
            <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Jane</span><br>
              <span>Accountant</span>
            </div>
          </li>
          <li class="w3-bar">
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
            <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Jane</span><br>
              <span>Accountant</span>
            </div>
          </li>
          <li class="w3-bar">
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
            <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">Jane</span><br>
              <span>Accountant</span>
            </div>
          </li>
        </ul>
      </div>