<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
    <fieldset class="form-group">
        <input class="form-control" type="text" placeholder="Current Password" id="currentpassword" formControlName="currentpassword">
        <!-- <div class="error err-msg" *ngIf="!profileForm.controls['currentpassword'].valid && profileForm.controls['currentPassword'].touched" >
            Enter a Valid Password ...
        </div> -->
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control" type="password" placeholder="Password" id="password" formControlName="password"> 
        <div class="error err-msg" *ngIf="!profileForm.controls['password'].valid && profileForm.controls['password'].touched">
            Enter a Valid Password (must have letters and numbers)
        </div>
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control" type="password" placeholder="confirmpassword" id="confirmpassword" formControlName="confirmpassword"> 
        <div class="error err-msg" *ngIf="!profileForm.controls['confirmpassword'].valid && profileForm.controls['confirmpassword'].touched">
            Passwords do not match ...
        </div>
    </fieldset>

    <div class="form-group">
        <button class="btn btn-primary btn-lg" type="Submit" label="Click" >save</button>
    </div>           
</form>