h4{
    color: white;
    font-family: initial;
    text-align: center;
    padding-top: 90px;
}

.header{
    text-align: center;
    padding-bottom: 13px;
}

.hoverable{
    padding-left: 6.5px;
}

.head{
    padding: 20px;
    margin-bottom: 25px;
}

img{
    width: 100%;
    height: 50%;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    // padding: 32px;
}

.col-md-3{
    padding-left: 0;
    padding-right: 0;
}

.w3-text-white{
    
    font-family: fantasy;
    font-size: 15px;
}

.checked {
    color: orange;
}

.activities{

    img{
        height: 300px;
    }
}

.container-fluid{
    img{
        cursor: pointer;
    }
}

.w3-bar-block .w3-bar-item {padding:20px}


// .row {
//     display: -ms-flexbox; /* IE10 */
//     display: flex;
//     -ms-flex-wrap: wrap; /* IE10 */
//     flex-wrap: wrap;
//     padding: 0 4px;
// }

/* Create four equal columns that sits next to each other */
// .column {
//     -ms-flex: 25%; /* IE10 */
//     flex: 25%;
//     max-width: 25%;
//     padding: 0 4px;
// }

// .row img {
//     margin-top: 8px;
//     vertical-align: middle;
//     height: 300px;;
// }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}




// .layout{
//     margin : .5vw;
//     font-size: 0;
//     display: -ms-flexbox;
//     -ms-flexbox-wrap : wrap;
//     -ms-flexbox-direction : column;
//     -webkit-flex-flow : row wrap;
//     flex-flow: row wrap;
//     display: -webkit-box;
//     display: flex;

// }

// .layout {
//     .w3-card{
//         -webkit-box-flex: auto;
//         -ms-flex: auto;
//         width: 200px;
//         margin: .5vw;
//     }

//     img{
//         width: 100%;
//         height: auto;
//     }
// }

// @media screen and (max-width: 400px){
//     .layout{
//         .w3-card{
//             margin: 0;
//         }
//     }

//     .layout{
//         padding: 0;
//     }
// }