<div class="header">
  <!-- <h1>Top Activities</h1>
  <p>Discover places,adventures,attractions and activities for you vacation.</p>
</div> -->
<div class="w3-center head">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Top Activities</span>
  </div>


  <div class="container-fluid">
      <div class="activities">
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-text-white w3-display-container" (click)="gotoActivity()">
              <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
               <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


              </div>
      </div>
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
              <img src="assets/gallery/adventure-2nd-opti.jpg" style="width:100%">
              <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>
              </div>
      </div>
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
              <img src="assets/download.jpg" style="width:100%">
              <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>
      </div>
    </div>
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
              <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>
              </div>
      </div>
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-text-white w3-display-container">
              <img src="assets/gallery/adventure-2nd-opti.jpg" style="width:100%">
              <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>
              </div>
      </div>
          <div class="w3-col l4">
              <!-- About Card -->
              <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
              <img src="assets/download.jpg" style="width:100%">
              <div id="displayonhover" class=" w3-hide-medium w3-hide-small">
                  
                  <div class="w3-display-topleft w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-display-hover w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-display-hover  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-display-hover  w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>


               <div id="displaysdirectly  " class="w3-hide-large">
                  <div class="w3-display-topmiddle ">
                      
  
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
                  <div class="w3-display-topleft  w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">Treking</span>
  
                    
                  </div>
                  <div class="w3-display-bottomleft w3-text-white w3-margin">
  
                      <h3><span>Event Name</span></h3>
                    
                  </div>
                  <div class="w3-display-bottomright w3-margin">
  
                      <p><span class="w3-tag w3-white w3-padding w3-round">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      </span>
                    
                  </div>
                  <div class="w3-display-topright w3-margin">
  
                      <button class="w3-button  w3-red w3-round">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
  
                    <!-- <button class="w3-button w3-block w3-red">Button</button> -->
                  </div>
               </div>
      </div>
    </div>
         
      </div>
    </div>
















<!-- <div class="w3-main w3-content w3-padding" style="max-width:1200px">
    <div class="w3-third w3-margin">
        <div class="w3-display-container w3-hover-opacity">
            <img src="assets/gallery/adventure-2nd-opti.jpg" alt="Avatar" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">John Doe</button>
            </div>
          </div>
    </div>
    <div class="w3-third w3-margin">
        <div class="w3-display-container w3-hover-opacity">
            <img src="assets/gallery/Lonavala/Thrillworld-Lonavala.jpg" alt="Avatar" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">John Doe</button>
            </div>
          </div>
    </div>
    <div class="w3-third w3-margin">
        <div class="w3-display-container w3-hover-opacity">
            <img src="assets/gallery/adventure-2nd-opti.jpg" alt="Avatar" style="width:100%">
            <div class="w3-display-middle w3-display-hover">
              <button class="w3-button w3-black">John Doe</button>
            </div>
          </div>
    </div>
      
      
    </div> -->











<!-- <div class="w3-row-padding" id="about">
        <div class="w3-center w3-padding-64">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Top Activities</span>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="assets/gallery/adventure-2nd-opti.jpg" alt="John" style="width:100%">
            <div class="w3-container">
              <h3>Jane Doe</h3>
              <p class="w3-opacity">CEO & Founder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
          </div>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="assets/gallery/adventure-2nd-opti.jpg" alt="Mike" style="width:100%">
            <div class="w3-container">
              <h3>Mike Ross</h3>
              <p class="w3-opacity">Art Director</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
          </div>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="assets/gallery/adventure-2nd-opti.jpg" alt="Jane" style="width:100%">
            <div class="w3-container">
              <h3>John Doe</h3>
              <p class="w3-opacity">Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
          </div>
        </div> -->
      </div>
  





