<div class="container">
  <div class="w3-col m7">
    <div class="container ">
      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">
          <span><i class="fa fa-bell"></i></span> Notifications <span class="w3 w3-right w3-margin-right">
              <p-checkbox ></p-checkbox> </span></li>
        <li class="w3-padding">
          <span><i class="fa fa-ban"></i></span> Do Not Disturb <span class="w3 w3-right w3-margin-right">
              <p-checkbox ></p-checkbox>
          </span>
        </li>
        <li class="w3-padding">
          <span><i class="fa fa-question-circle"></i></span> Contact Support <span class="w3 w3-right w3-margin-right">Admin@gmail.com</span>
        </li>
        <li class="w3-padding">
          <span><i class="fa fa-chevron-circle-up"></i></span> Version <span class="w3-badge w3-right w3-margin-right">3</span>
        </li>
      </ul>
    
    </div>
  </div>
</div>


