

<div class="w3-top">
        <div class="w3-bar w3-light-grey w3-card" id="myNavbar">
          <a href="#home" class="w3-bar-item w3-button w3-wide">
                <img src="../assets/Thrillworld-Logo.png" alt="">
          </a>
          <!-- Right-sided navbar links -->
          <div class="w3-right w3-dropdown-hover w3-hide-small w3-padding">
                <button class="w3-button ">
                        <i class="fa fa-user"></i> Account
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                  <a href="#" class="w3-bar-item w3-button">Profile</a>
                  <a href="#" class="w3-bar-item w3-button">Logout</a>
                </div>
<!--             
            <div class="w3-dropdown-hover w3-right">
                  
                   
                  </div> -->
          </div>
          
          <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      
          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="document.getElementById('mySidebar').style.display='block'">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>



      <!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a  class="w3-bar-item w3-button w3-large w3-padding-16"
        onclick="document.getElementById('mySidebar').style.display='none'" >Close ×</a>
        <a href="#about"  class="w3-bar-item w3-button">Account</a>
        <a href="#about"  class="w3-bar-item w3-button">Logout</a>
        
      </nav>




<!-- <nav class="navbar navbar-expand-lg fixed-top">
    <img src="../assets/Thrillworld-Logo.png" alt="">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav ml-auto">
            
            
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/signup']" >
                    <i class="fa fa-fw fa-power-off"></i> Signup
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/login']" >
                    <i class="fa fa-fw fa-power-off"></i> Login
                </a>
            </li>
            
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> Inbox
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> Settings
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> Log Out
                    </a>
                    
                </div>
            </li>
        </ul>
    </div>
</nav> -->
