<div class="container">
    <p-calendar [inline]="true"  ></p-calendar>

    
    <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" [inline]="true" placeholder="Choose a date">
    
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
   

</div>

<div class="container">
  
  

  <!-- <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
        <div class="w3-container w3-white w3-center">
          <h1 class="w3-wide">CAN YOU COME?</h1>
          <p>We really hope you can make it.</p>
          
          <p><i>Sincerely, John & Jane</i></p>
          <div class="w3-row">
            <div class="w3-half">
              <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
            </div>
            <div class="w3-half">
              <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>

