<div class="container">
        <div class="header">
          <h1>Bookings</h1>
        </div>
        <hr />
    
    <div class="w3-third w3-center">
        <p-calendar  [inline]="true"></p-calendar>
    </div>
    
    <div class="w3-twothird">
       
            <div class="w3-container w3-card w3-white w3-round w3-padding w3-margin"><br>
              <h4>Event Name</h4><br> 
               <div class="w3-half w3-center">
                   booked: <br>
                   <span>0</span>
               </div>
               <div class="w3-half w3-center">
                   Available: <br>
                   <span><button>-</button></span> <span>10</span> <span><button>+</button></span>
               </div>
            </div>
 
    </div>
</div>    


