<div class="container">
    <div class="header">
        <h1>Events Added by Merchants.</h1>
    </div>
    <hr>

    <div class="list">
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Event Title
                      </mat-panel-title>
                      <mat-panel-description>
                        This is a summary of the content
                       <div class="nav nav-links">
                            
                            <li class="nav nav-items">
                                <a href="">Remove Event</a>
                            </li>
                       </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  
                    <h1>details of event are displayed here.</h1>
                  
                  </mat-expansion-panel>
           
    </div>
