<!-- <div class="w3-display-container w3-container city-image">
    <img src="assets/o-NEW-YORK.jpg" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2016</h1>
      
    </div>
  </div> -->


  <header class="w3-display-container w3-content w3-wide city-image" style="max-width:1500px;" id="home">
      <img class="w3-image" src="assets/o-NEW-YORK.jpg" alt="Architecture" width="1500" height="800">
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>London</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
      </div>
    </header>

<div class="container">
  

  <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Top Activities</span>
</div>


  <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="assets/gallery/pexels-photo-672358.jpeg" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
      </div>
  
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Catering</h1><br>
        <h5 class="w3-center">Tradition since 1889</h5>
        <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      </div>
    </div>

    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">More Places to Visit</span>
  </div>
  

  <div class="container-fluid">
    <div class="activities">
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
            <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div class="w3-container w3-white">
                <h4><b>My Name</b></h4>
                <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
              </div>
            </div><hr>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
            <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div class="w3-container w3-white">
                <h4><b>My Name</b></h4>
                <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
              </div>
            </div><hr>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
            <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div class="w3-container w3-white">
                <h4><b>My Name</b></h4>
                <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
              </div>
            </div><hr>
    </div>
  </div>
</div>
