<div class="w3-display-container w3-text-white">
  
              <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
                  <a  class="w3-bar-item w3-button w3-large w3-padding-16"
                  onclick="document.getElementById('mySidebar').style.display='none'" >Close ×</a>
                  <a href="#about"  class="w3-bar-item w3-button">Account</a>
                  <a href="#about"  class="w3-bar-item w3-button">Logout</a>
                  
                </nav>
                <header class="w3-display-container w3-content w3-wide city-image" style="max-width:1500px;" id="home">
                  <img class="w3-image" src="assets/o-NEW-YORK.jpg" alt="Architecture" width="1500">
                  <div class="w3-display-middle w3-margin-top w3-center">
                    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Hyderabad</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
                  </div>
                </header>
  
  
              <div class="w3 w3-display-topleft w3-margin ">
                  <div class="w3-hide-small">
                      <img src="assets/Thrillworld-Logo.png" alt="">
                  </div>
                  <div class="w3-hide-large w3-hide-medium">
                      <img src="assets/thrillworld favicon.png" alt="">
                  </div>
              </div>
  
  
              <div class="w3-padding w3-display-topright">
                  <div class="w3-right w3-dropdown-hover w3-hide-small w3-transparent">
                      <button class="w3-button w3-red w3-padding w3-margin">
                              <i class="fa fa-user"></i> Account
                      </button>
                      <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                        <a href="#" class="w3-bar-item w3-button">Profile</a>
                        <a href="#" class="w3-bar-item w3-button">Logout</a>
                      </div>
                </div>
                  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                  onclick="document.getElementById('mySidebar').style.display='block'">
                    <i class="fa fa-bars"></i>
                  </a>
              </div>
              
             
  
                <div class=" w3-display-bottommiddle ">
  
  
  
  
  
                </div>
              
            </div>
  





<div class="container">
  

  <div class="w3-center head">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Top Activities</span>
</div>



      
  <div class="container-fluid">
    <div class="activities">
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
            <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div class="w3-container w3-white w3-padding">
                <div class="w3">
                  <h4>Event Name</h4>
                </div>
                <div class="w3">
                  <div class="w3-left">
                    <p>2000</p>
                  </div>
                  <div class="w3-right">
                    <p>Rating</p>
                  </div>
                </div>
              </div>
              <div class="w3-display-topmiddle w3-display-hover ">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
                <button class="w3-button w3-block w3-red">Button</button>
              </div>
            </div>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
            <img src="assets/gallery/adventure-2nd-opti.jpg" style="width:100%">
            <div class="w3-container w3-white w3-padding">
              <div class="w3">
                <h4>Event Name</h4>
              </div>
              <div class="w3">
                <div class="w3-left">
                  <p>2000</p>
                </div>
                <div class="w3-right">
                  <p>Rating</p>
                </div>
              </div>
            </div>
            <div class="w3-display-topmiddle w3-display-hover ">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
              <button class="w3-button w3-block w3-red">Button</button>
            </div>
            </div>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
            <img src="assets/download.jpg" style="width:100%">
            <div class="w3-container w3-white w3-padding">
              <div class="w3">
                <h4>Event Name</h4>
              </div>
              <div class="w3">
                <div class="w3-left">
                  <p>2000</p>
                </div>
                <div class="w3-right">
                  <p>Rating</p>
                </div>
              </div>
            </div>
            <div class="w3-display-topmiddle w3-display-hover ">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
              <button class="w3-button w3-block w3-red">Button</button>
            </div>
    </div>
  </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
            <img src="assets/gallery/pexels-photo-672358.jpeg" style="width:100%">
              <div class="w3-container w3-white w3-padding">
                <div class="w3">
                  <h4>Event Name</h4>
                </div>
                <div class="w3">
                  <div class="w3-left">
                    <p>2000</p>
                  </div>
                  <div class="w3-right">
                    <p>Rating</p>
                  </div>
                </div>
              </div>
              <div class="w3-display-topmiddle w3-display-hover ">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
                <button class="w3-button w3-block w3-red">Button</button>
              </div>
            </div>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-text-white w3-display-container">
            <img src="assets/gallery/adventure-2nd-opti.jpg" style="width:100%">
            <div class="w3-container w3-white w3-padding">
              <div class="w3">
                <h4>Event Name</h4>
              </div>
              <div class="w3">
                <div class="w3-left">
                  <p>2000</p>
                </div>
                <div class="w3-right">
                  <p>Rating</p>
                </div>
              </div>
            </div>
            <div class="w3-display-topmiddle w3-display-hover ">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
              <button class="w3-button w3-block w3-red">Button</button>
            </div>
            </div>
    </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top w3-hover-opacity w3-text-white w3-display-container">
            <img src="assets/download.jpg" style="width:100%">
            <div class="w3-container w3-white w3-padding">
              <div class="w3">
                <h4>Event Name</h4>
              </div>
              <div class="w3">
                <div class="w3-left">
                  <p>2000</p>
                </div>
                <div class="w3-right">
                  <p>Rating</p>
                </div>
              </div>
            </div>
            <div class="w3-display-topmiddle w3-display-hover ">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure molestiae consectetur dignissimos veniam eligendi quasi laborum ullam deserunt maxime excepturi vel voluptates repellat, repellendus impedit perspiciatis reprehenderit eos nisi molestias.</p><br>
              <button class="w3-button w3-block w3-red">Button</button>
            </div>
    </div>
  </div>
       
    </div>
  </div>
</div>

