.container{
    padding-top: 20px;
}

li{
    list-style-type: none;
}

.nav-links{
    padding-left: 50px;
}

.nav-items{
    padding-left: 10px;
}

.details{
    li{
        text-align: center;
    }
}

.que{
    font-family: fantasy;
}

.w3-card :hover{
    cursor: pointer;
}