<div class="container">
    <div class="header">
        <h1>Merchants List.</h1>
    </div>
    <hr>



    <!-- <a href="https://www.instamojo.com/@bodkedd/" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo"></a> -->
    


















    <ul class="w3-ul w3-border ">
            <li class="w3-theme row">
                <div class="col-md-2">
                    <p>Full Name</p>
                </div>
                <div class="col-md-4">
                    <p>Email</p>
                </div>
                <div class="col-md-2">
                    <p>Phone</p>
                </div>
                <div class="col-md-2">
                    <p>Location</p>
                </div>
                
                
            </li>
            
            
          </ul>

    <div class="list " *ngFor="let h of host">
           
            <ul class="w3-ul w3-border w3-hoverable">
                    <li class="w3-theme row">
                        <div class="col-md-2">
                            <p>{{h.fullname}}</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{h.email}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{h.phone}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{h.location}}</p>
                        </div>
                        
                        <div class="col-md-2">
                            <a href="">
                                <p>Remove Merchant</p>
                            </a>
                           
                        </div>
                    </li>
                    
                    
                  </ul>
        
           
    </div>


    