<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Thrill World</h1>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                    <h1 class="heading">Login</h1>
                    <fieldset class="form-group">
                        <input class="form-control" 
                            type="text" 
                            placeholder="Email address"
                            id="email" 
                            formControlName="email">
                        <div class="error" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
                            <span class="err-msg">Enter a Valid Email-Id ...</span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control" type="password" placeholder="Password" id="password" formControlName="password"> 
                        <div class="error" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
                            <span class="err-msg">Enter a Valid Password ...</span>
                        </div>
                    </fieldset>
                    <div class="row row1">
                            <div class="form-group" class="col-sm-5">
                                    <p>
                                            <input type="checkbox" id="test6" checked="checked" />
                                            <label for="test6">RememberMe</label>             
                                    </p>
                                </div>
                                <div class="form-group row" class="col-sm-6">
                                    <div class="">
                                        <a href="">Forgot Password?</a>
                                    </div>
                                </div>
                    </div>
                    <div class="form-group ">
                        <button class="btn btn-primary btn-lg" type="Submit" label="Click" [disabled]="!myForm.valid">Login</button>
                    </div>
                </form>
                <div class="form-inline">
                    <p>dont have account?</p>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-md" (click)="gotosignin()">Signin</button>
                        
                    </div>
                </div>
        </div>
    </div>
</div>
