<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
      <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('host')">
            <span><i class="fa fa-plus"></i>&nbsp; Merchants</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'host'">
            <ul class="submenu">
                <li routerLinkActive ="active">
                    <a [routerLink]="['/admin-events-list']"><span>Events List</span></a>
                </li>
                
                <li routerLinkActive ="active">
                    <a [routerLink]="['/admin-merchants-list']"><span>Merchants Lists</span></a>
                </li>
            </ul>
        </li>
    </div>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('customers')">
            <span><i class="fa fa-plus"></i>&nbsp; Customers</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'customers'">
            <ul class="submenu">
                <li>
                    <a href="javascript:void(0)"><span>Bookings</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>Payments</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>visited</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>Manage Users</span></a>
                </li>
            </ul>
        </li>
    </div>

      <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-edit"></i>&nbsp;payments
      </a>
      <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-th-list"></i>&nbsp;settings
      </a>
      
      

      <div class="header-fields">
          <a (click)="rltAndLtr()" class="list-group-item">
              <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
          </a>
         
          <div class="nested-menu">
              <a class="list-group-item" (click)="addExpandClass('profile')">
                  <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
              </a>
              <li class="nested" [class.expand]="showMenu === 'profile'">
                  <ul class="submenu">
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-user"></i> Profile</span>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-envelope"></i> Inbox</span>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-gear"></i> Settings</span>
                          </a>
                      </li>
                      <li>
                          <a [routerLink]="['/login']" (click)="onLoggedout()">
                              <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                          </a>
                      </li>
                  </ul>
              </li>
          </div>
      </div>
  </div>
</nav>
