<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
      <a  routerLinkActive="active" [routerLink]="['/host-dashboard']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('pages')">
            <span><i class="fa fa-plus"></i>&nbsp; Events</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'pages'">
            <ul class="submenu">
                <li routerLinkActive="active">
                    <a [routerLink]="['/add-event']"><span>Add Events</span></a>
                </li>
                <li routerLinkActive="active" >
                    <a [routerLink]="['/events-list']"><span>My Events</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>Bookings</span></a>
                </li>
                
            </ul>
        </li>
    </div>
      
      <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-table"></i>&nbsp;payments
      </a>
      <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('profile')">
                <span><i class="fa fa-plus"></i>&nbsp; Account</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'profile'">
                <ul class="submenu">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/host-profile']"><span>My profile</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/events-list']"><span>event data</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Bookings</span></a>
                    </li>
                    
                </ul>
            </li>
        </div>
      
      
      

      <div class="header-fields">
          <a (click)="rltAndLtr()" class="list-group-item">
              <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
          </a>
         
          <div class="nested-menu">
              <a class="list-group-item" (click)="addExpandClass('profile')">
                  <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
              </a>
              <li class="nested" [class.expand]="showMenu === 'profile'">
                  <ul class="submenu">
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-user"></i> Profile</span>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-envelope"></i> Inbox</span>
                          </a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">
                              <span><i class="fa fa-fw fa-gear"></i> Settings</span>
                          </a>
                      </li>
                      <li>
                          <a [routerLink]="['/login']" (click)="onLoggedout()">
                              <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                          </a>
                      </li>
                  </ul>
              </li>
          </div>
      </div>
  </div>
</nav>
