<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
      <a  routerLinkActive="active" [routerLink]="['/host-dashboard']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;Activity
      </a>
      <a routerLinkActive="active" [routerLink]="['/host-bookings']" class="list-group-item">
          <i class="fa fa-fw fa-plane"></i>&nbsp;Bookings
      </a>
      <a routerLinkActive="active" [routerLink]="['/host-availability']" class="list-group-item">
          <i class="fa fa-fw fa-table"></i>&nbsp;Availability
      </a>
      <a routerLinkActive="active" [routerLink]="['/host-messages']" class="list-group-item">
          <i class="fa fa-fw fa-table"></i>&nbsp;Messages
      </a>
      <!-- <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-envelope"></i>&nbsp;Messages
      </a> -->
      <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('event-details')">
                <span><i class="fa fa-plus"></i>&nbsp; Event details</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'event-details'">
                <ul class="submenu">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/host-reviews']"><span>
                                <i class="fa fa-fw fa-comments"></i>&nbsp;Reviews</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/host-events-photos']"><span>
                                <i class="fa fa-fw fa-camera"></i>&nbsp; photos</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/host-invoice']"><span>
                                <i class="fa fa-fw fa-bars"></i>&nbsp;Invoice</span></a>
                    </li> 
                </ul>
            </li>
        </div>
        <a routerLinkActive="active" [routerLink]="['/host-settings']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;Settings
        </a>

      <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Account')">
                <span><i class="fa fa-user"></i>&nbsp; Account</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Account'">
                <ul class="submenu">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/events-list']">
                                <span><i class="fa fa-list-ul"></i>&nbsp;Events</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/add-event']">
                                <span><i class="fa fa-plus"></i>&nbsp; Add Event</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/host-profile']">
                                <span><i class="fa fa-address-card"></i>&nbsp; profile</span></a>
                    </li>
                    <li routerLinkActive="active" >
                        <a [routerLink]="['/host-pass']"><span>
                                <i class="fa fa-unlock"></i>&nbsp; password</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a  class="list-group-item logout" (click)="onLoggedout()" routerLinkActive="active" >
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;Logout
        </a>
      
      
      

      
  </div>
</nav>
