body{
    color: #fafafa;
}

.img-fluid
{
    max-width: 100%;
    height: 400px;
}

.booking-content{
    width: 25%;
}

.main-image{
    img{
        height: 400px;
    }
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.w3-twothird{
    img{
        height: 530px;
    }
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.includes{
   span{
       padding-left: 5px;
   }
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
    margin-right: auto;
}
.main-header{
    .w3-border{
        height: 530px;
    }
}

.data{
    padding-left: 50px;
    background-color: #fafafa;
}
.details{
    width: 75%;
}

.row1{
    padding-top: 10px;
    
}

.page-content{
    padding-left: 15px;
    color: black;
}

.sticky {
    position: fixed;
    top: 100%;
    width: 275px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: blue;
  }
  
  .sticky a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .sticky a:hover {
      background-color: #000;
  }