


<div class="w3-display-container main-image" style="margin-bottom:50px">
        <img src="assets/gallery/p051v6vn.jpg" style="width:100%">
        <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
         style="bottom:10%;opacity:0.7;width:70%">
        <h2><b>4 Good Reasons<br>For travelling with us</b></h2>
      </div>
      </div>




<div class="data" >
<div class="container-fluid ">
    <div class="page-content">
    <div class="row">
            <div class="col-md-6">
                    <div class="details">
                            <div class="titles">
                                   <h1>Title of Activity</h1>
                                    <p>Caption relating to activity.</p>
                                </div>
                                <hr>
                            <div class="includes">
                                <h4>inlcudes : </h4>
                                <mat-chip-list>
                                        <mat-chip>food</mat-chip>
                                        <mat-chip>transport</mat-chip>
                                        <mat-chip>room</mat-chip>
                                      </mat-chip-list>
                                
                            </div>
                        </div>
                    
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dicta culpa pariatur cum. Possimus maiores perferendis doloremque? Iste tempora similique alias sunt aperiam in vero, nesciunt quisquam numquam nobis quos.</p>
                        
                        <hr>
                        
                        
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                        <div class="decription">
                                <h4>Description of Activity :</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, fugiat porro illo sunt excepturi recusandae quibusdam voluptatum doloribus et! Nam, quisquam. Commodi alias a, in nesciunt veniam unde sint similique.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vel ipsam architecto possimus, facilis incidunt cupiditate culpa modi magni ullam dolore. Beatae quam impedit provident animi, officia amet a nobis.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed nam quia obcaecati ducimus, asperiores quibusdam earum quo dolore doloremque. Maiores est, deserunt accusamus ducimus nihil ipsam doloribus aspernatur sit?
                                </p>
                            </div>
                
           
           
           
           
                    </div>

           
            <div class=" col-md-4">
                    <div class="w3-card w3-margin w3-margin-top">
                            <div class="w3-container w3-white">
                                <booking></booking>
                            </div>
                    </div>
        
    </div>
</div>
</div>


</div>





<!-- 
<div class="container">
    <div class="sticky">
            <p>booking details</p>
        <div class="content">
                <p-card>
                        <p-header>
                            Header content here
                        </p-header>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tempora! Nostrum sit ab quibusdam deleniti, totam laudantium nesciunt minus, delectus architecto iusto ut, vitae deserunt nihil voluptas consequuntur! Sequi, necessitatibus.
                        <p-footer>
                            Footer content here
                        </p-footer>
                    </p-card>
        </div>
    </div>
</div> -->

