.container{
    height: 600px;
}

.tabs{
    
}
.mat-tab-body-wrapper{
    border: 2px solid;
    border-radius: 5px;
    height: 500px;
    padding: 15px;
}

mat-tab-group{
    padding-top: 50px;
}

.row{
    padding-left: 50px;
}

.inputs{
    padding-left: 15px;
    width: 30%;
}


