
<body>
  <div class="timeline">
    <div class="container right">
      <div class="content">
        <h2>Today</h2>
        <div class="w3-panel w3-leftbar w3-border-blue w3-light-grey w3-padding">
          <p>Rahul Ranjith is Arriving today for the event Boating.</p>
        </div>
        </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Tomorrow</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Next Week</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    
  </div>
  
</body>