<p-growl [value]="msgs"></p-growl>

<div class="container">
    <div class="header">
        <h1>Add Event</h1>
    </div>
    <hr />







    <mat-tab-group>
        <mat-tab label="Event Details">
            <div class="w3-half w3-padding">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                    <fieldset class="form-group">
                        <input class="form-control" type="text" placeholder="Title of the Event" id="title" formControlName="title">
                        <div class="error" *ngIf="!myForm.controls['title'].valid && myForm.controls['title'].touched">
                            <span class="err-msg">Enter a title for your event ...</span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control" type="text" placeholder="Type of Event" id="type" formControlName="type">
                        <div class="error" *ngIf="!myForm.controls['type'].valid && myForm.controls['type'].touched">
                            <span class="err-msg">Enter the type of event ...</span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea [rows]="5" [cols]="62" pInputTextarea autoResize="autoResize" placeholder="Describe your event" formControlName="description"></textarea>
                        <div class="error" *ngIf="!myForm.controls['description'].valid && myForm.controls['description'].touched">
                            <span class="err-msg">please describe your event</span>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="w3-half w3-padding">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                    <fieldset class="form-group">
                        <input type="file" (change)="onFileSelected($event)" placeholder="Upload file..." name="file" multiple="multiple" />                        
                    </fieldset>






                </form>
            </div>

        </mat-tab>












        <mat-tab label="package details">
            <h2>package</h2>
            <div class="package-list">



            </div>

            <div class="form-container ">
                <div class="w3-ha ">
                    <form [formGroup]="pkgForm" >

                       <div class="w3-half">
                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="package Name" id="pkgname" formControlName="pkgname">
                            <div class="error" *ngIf="!pkgForm.controls['pkgname'].valid && pkgForm.controls['pkgname'].touched">
                                <span class="err-msg">Enter a package name...</span>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="">type the facilities you offer( press enter after each entry)</label>
                            <p-chips formControlName="pkgincludes"></p-chips>
                        </fieldset>




                        <fieldset class="form-group">
                            <input class="form-control" type="number" placeholder="package price per adult" id="pkgpriceperadult" formControlName="pkgpriceperadult">
                            <div class="error" *ngIf="!pkgForm.controls['pkgpriceperadult'].valid && pkgForm.controls['pkgpriceperadult'].touched">
                                <span class="err-msg">Enter a package price...</span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control" type="number" placeholder="package price per child" id="pkgpriceperchild" formControlName="pkgpriceperchild">
                            <div class="error" *ngIf="!pkgForm.controls['pkgpriceperchild'].valid && pkgForm.controls['pkgpriceperchild'].touched">
                                <span class="err-msg">Enter a package price...</span>
                            </div>
                        </fieldset>

                        <div class="form-group ">
                            <button class="btn btn-primary btn-lg" type="button" label="Click" (click)="onAdd(pkgForm)">Add Package</button>
                        </div>
                       </div>

                        <div class="w3-half ">
                                <div class="w3-container">
                                        <div class="w3-card w3-panel w3-padding w3-margin">
                                                <div class="top">
                                                    <div class="name w3-left">
                                                        <h3>Name</h3>    
                                                    </div>  
                                                    <div class="close w3-right">
                                                        <span>X</span>    
                                                    </div>  
                                                </div>   
                                                <div class="w3-container w3-margin w3-padding">
                                                    <div class="w3-quarter">
                                                        <p>type</p><br>
                                                        <p>flying</p>   
                                                    </div>    
                                                    <div class="w3-quarter">
                                                        <h5>adults</h5><br>
                                                        <span>0</span>    
                                                    </div>    
                                                    <div class="w3-quarter">
                                                        <h5>childs</h5><br>
                                                        <span>2</span>    
                                                    </div>    
                                                </div>    
                                            
                                            </div>
                                </div>
                                    
                                
                                
                                <!-- <button (click)="myFunction()">
                                        Try it<i  class="fa fa-angle-down"></i>
                                    </button>
                                <div id="myDIV">
                                    <h1>3546879</h1>
                                        <div class="packages" *ngFor="let p of packages">
                                                {{p.pkgname}}
                                            </div>
                                </div> -->
                            
                        </div>


                    </form>
                </div>

            </div>
        </mat-tab>







        <mat-tab label="availability">
            <div class="form-container">
                <div class="w3-half availability w3-padding w3-margin">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                        <fieldset class="form-group">
                            <label for="">tickets available from :</label>
                            <p-calendar formControlName="fromdate"></p-calendar>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="">up to :</label>
                            <p-calendar formControlName="todate"></p-calendar>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="">Number of days required for activity :</label>
                            <input type="number" formControlName="numofdays" name="number of days">
                        </fieldset>

                    </form>
                </div>

            </div>

        </mat-tab>












        <mat-tab label="textarea">
            <div class="form-container row">
                <div class="form text">
                    <div class="form  col-xl-12 text-xs-center">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                            <fieldset class="form-group">
                                <p-editor formControlName="textarea" [style]="{'height':'500px'}"></p-editor>
                                

                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </mat-tab>















        <mat-tab label="address">
            <div class="form-container ">
                <div class="w3-half w3-padding w3-margin">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">


                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="phone number" id="phone" formControlName="phone">
                            <div class="error" *ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched">
                                <span class="err-msg">Enter phone number ...</span>
                            </div>
                        </fieldset>


                        <fieldset class="form-group">
                            <p-autoComplete [(ngModel)]="city" [suggestions]="filteredCity" (completeMethod)="filterCity($event)" [size]="30"
                            placeholder="City" formControlName="location" [minLength]="1"></p-autoComplete>
                            <div class="error" *ngIf="!myForm.controls['location'].valid && myForm.controls['location'].touched">
                                <span class="err-msg">Enter the location ...</span>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="Address" id="address" formControlName="address">
                            <div class="error" *ngIf="!myForm.controls['address'].valid && myForm.controls['address'].touched">
                                <span class="err-msg">please provide address ...</span>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control" type="text" placeholder="pincode" id="pincode" formControlName="pincode">
                            <div class="error" *ngIf="!myForm.controls['pincode'].valid && myForm.controls['pincode'].touched">
                                <span class="err-msg">please provide pincode ...</span>
                            </div>
                        </fieldset>

                        <div class="form-group ">
                            <button class="btn btn-primary btn-lg" type="Submit" label="Click">Submit</button>
                        </div>

                    </form>

                </div>
            </div>
        </mat-tab>






    </mat-tab-group>





</div>