.error{
    color: red;
    font-family: cursive;
}

.row{
    padding-right: 30px;
    padding-top: 15px;
}


.text{
    height: 500px;
}

.container{
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.availability{
    height: 600px;
}

.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

