.error{
    color: red;
    font-family: cursive;
}

.row{
    padding-right: 30px;
    padding-top: 15px;
}

.date{
    height: 500px;
}
.text{
    height: 500px;
}

.container{
    padding-top: 20px;
}

.to{
    padding-top : 52px;
}
