<div class="container">
    <div class="header">
      <h1>Your Activities</h1>
    </div>
    <hr />
  
    <div class="w3-panel w3-leftbar w3-border-blue w3-light-grey w3-padding">
        <p>Rahul Ranjith is Arriving today for the event Boating.</p>
      </div>
    <div class="w3-panel w3-leftbar w3-border-blue w3-light-grey w3-padding">
        <p>Rahul Ranjith is Arriving today for the event Boating.</p>
      </div>
    <div class="w3-panel w3-leftbar w3-border-blue w3-light-grey w3-padding">
        <p>Rahul Ranjith is Arriving today for the event Boating.</p>
      </div>
   