<div class="container">
  <div class="header">
    <h4>Activities</h4>
  </div>
  <hr>
<div class="row">
  

  <div class="w3-col m4">
        <div class="w3-card w3-round w3-white w3-center w3-padding w3-margin" onclick="document.getElementById('id010').style.display='display'"  >
                <div class="w3-container">
                  <p>Upcoming Events:</p>
                  <img src="assets/gallery/pexels-photo-672358.jpeg" alt="Forest" style="width:100%;">
                  <p><strong>Holiday</strong></p>
                  <p>Friday 15:00</p>
                  
                  <p><button class="w3-button w3-block  btn btn-success"
                   >Info</button></p>
                  <p><button class="w3-button w3-block  btn btn-success">Permit</button></p>
                </div>
              </div>
</div>

 
   
</div>


  
  


<div id="id010" class="w3-modal">
    
                    <div class="close">
                            <span class="w3 w3-right w3-margin-right" 
                            onclick="document.getElementById('id01').style.display='none'" >X</span>
                    </div>
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;width:800px">
                            
    
                        <div class="details">
                                    <ul>
                                       
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">Title </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Fast and Furious</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">Type </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Race</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">description </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Do or Die Event</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">phone </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">123456789</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">packageName </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Basic</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">PackageIncludes </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">WIn 1 lakh</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">Price Per Adult </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">10,000</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">Price Per Child </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">6000</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">text area </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda illum esse, perferendis quasi, harum vel nisi voluptate quis laboriosam, inventore ullam deleniti dolor magnam iste quas? Libero accusamus sint odit.</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">From </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Mar 25</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">to </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Mar 30</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">number of days </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">1</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">location </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">Delhi</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">address </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">ORR </label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                        <li>
                                            <div class="row">
                                                <div class="que col-md-6">
                                                    <label for="">pincode </label>
                                                </div>
                                                <div class="ans col-md-6">
                                                    <label for="">125463</label>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                    </ul>
                                </div>
                                <div class="w3-row">
                                        <div class="w3-half">
                                          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Edit</button>
                                        </div>
                                        <div class="w3-half">
                                          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Close</button>
                                        </div>
                                      </div>
                    </div>
                  </div>
  
</div>
