<div class="container">
    <div class="header">
      <h1>Bookings</h1>
    </div>
    <hr />
  
    <div class="w3-container w3-content" style="max-width:1400px"> 
  
    
    <div class="w3-col ">
      <div class="container ">
        <div class="w3-container w3-card w3-white w3-round w3-margin w3-topbar w3-border-orange"><br>
          <h4>New Booking</h4><br> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      
      </div>
    </div>
    <div class="w3-col ">
      <div class="container ">
        <div class="w3-container w3-card w3-white w3-round w3-margin w3-topbar w3-border-orange"><br>
          <h4>Cancellation</h4><br> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      
      </div>
    </div>
    <div class="w3-col ">
      <div class="container ">
        <div class="w3-container w3-card w3-white w3-round w3-margin w3-topbar w3-border-orange"><br>
          <h4>Jane Doe</h4><br> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      
      </div>
    </div>
  
   
  
  
    </div>
  
    <!-- <div class="activities">
        <p-chart type="bar" [data]="data"></p-chart>
    </div> -->
  </div>