<div class="w3-container">
        <div class="head">
          <h3>Messages</h3>
        </div><hr>





<div class="container">
        <div class="w3-panel w3-border w3-border-black  w3-padding">
            <div class="head row">
                <div class="col-md-5">
                    <h3>Guest Name</h3>
                </div>
                <div class=" col-md-5 num">
                  <p>2 days ago</p>
                </div>
            </div><br>
            <div class="main row">
                    <div class="col-md-4 w3-container">
                      <span class="w3-text-blue-gray w3-padding">Type</span>  Debit Card
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Amount</span>  3500
                    </div>
                  </div>
                  <div class="main row">
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Pay Date</span>  20-Mar
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Number</span>  3145643
                    </div>
                    
                  </div>
                  <div class="main row">
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Pay Status</span>  Paid
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">on</span>  21-Mar
                    </div>
                    
                  </div>
            
    
           
    </div>
        <div class="w3-panel w3-border w3-border-black  w3-padding">
            <div class="head row">
                <div class="col-md-5">
                    <h3>Guest Name</h3>
                </div>
                <div class=" col-md-5 num">
                  <p>2 days ago</p>
                </div>
            </div><br>
            <div class="main row">
                    <div class="col-md-4 w3-container">
                      <span class="w3-text-blue-gray w3-padding">Type</span>  Debit Card
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Amount</span>  3500
                    </div>
                  </div>
                  <div class="main row">
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Pay Date</span>  20-Mar
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Number</span>  3145643
                    </div>
                    
                  </div>
                  <div class="main row">
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">Pay Status</span>  Paid
                    </div>
                    <div class="col-md-4 w3-container">
                        <span class="w3-text-blue-gray w3-padding">on</span>  21-Mar
                    </div>
                    
                  </div>
            
    
           
    </div>
    


</div>



</div>


















<!-- <div class="invoice">
    <div class="w3-container">
        <div class="w3-half">
            <div class="w3-padding-30 ">
                <div class="chat-panel card card-default">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i>
                        Bookings
                    </div>
                    
                    <div class="card-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                    <div class="w3-panel w3-blue">
                                            <h4>Shaker</h4>
                                            <p>Made Booking For Racing Made booking on 31-march</p>
                                            </div>
                            </li>
                            <li class="left clearfix">
                                    <div class="w3-panel w3-blue">
                                            <h4>Shaker</h4>
                                            <p>Made Booking For Racing Made booking on 31-march</p>
                                            </div>
                            </li>
                            <li class="left clearfix">
                                    <div class="w3-panel w3-blue">
                                            <h4>Shaker</h4>
                                            <p>Made Booking For Racing Made booking on 31-march</p>
                                            </div>
                            </li>
                            <li class="left clearfix">
                                    <div class="w3-panel w3-blue">
                                            <h4>Shaker</h4>
                                            <p>Made Booking For Racing Made booking on 31-march</p>
                                            </div>
                            </li>
                            <li class="left clearfix">
                                    <div class="w3-panel w3-blue">
                                            <h4>Shaker</h4>
                                            <p>Made Booking For Racing Made booking on 31-march</p>
                                            </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
              </div>
              
        </div>
        <div class="w3-half">
            <div class="w3-padding-30 ">
                <div class="chat-panel card card-default">
                    <div class="card-header">
                        <i class="fa fa-list-ul"></i>
                        Cancellations
                    </div>
                    
                    <div class="card-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <div class="w3-panel w3-red  bookings">
                                    <h4>John derre</h4>
                                    <p>Reservation Cancelled For Racing Made booking on 31-march</p>
                                    
                                  </div>
                            </li>
                            <li class="left clearfix">
                                <div class="w3-panel w3-red  bookings">
                                    <h4>David</h4>
                                    <p>Reservation Cancelled For Racing Made booking on 31-march</p>
                                    
                                  </div>
                            </li>
                            <li class="left clearfix">
                                <div class="w3-panel  w3-red  bookings">
                                    <h4>Randeer</h4>
                                    <p>Reservation Cancelled For Racing Made booking on 31-march</p>
                                    
                                  </div>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              
        </div>

      </div>


      <div class="w3-container">
          <div class="w3-half">
              <div class="w3-padding-30 ">
                  <div class="chat-panel card card-default">
                      <div class="card-header">
                          <i class="fa fa-plus"></i>
                          added Events
                      </div>
                      
                      <div class="card-body">
                          <ul class="chat">
                              <li class="left clearfix">
                                  <span class="chat-img pull-left">
                                      <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                  </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">Jack Sparrow</strong>
                                          <small class="pull-right text-muted">
                                              <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                          </small>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                              <hr>
                              <li class="left clearfix">
                                  <span class="chat-img pull-left">
                                      <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                  </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <small class=" text-muted">
                                              <i class="fa fa-clock-o fa-fw"></i> 13 mins ago
                                          </small>
                                          <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                              <hr>
                              <li class="left clearfix">
                                  <span class="chat-img pull-left">
                                      <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                  </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <strong class="primary-font">Jack Sparrow</strong>
                                          <small class="pull-right text-muted">
                                              <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                                          </small>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                              <hr>
                              <li class="left clearfix">
                                  <span class="chat-img pull-left">
                                      <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                  </span>
                                  <div class="chat-body clearfix">
                                      <div class="header">
                                          <small class=" text-muted">
                                              <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                                          </small>
                                          <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                      </p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
                
          </div>
      </div>



</div>




 -->
